@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import "animation"

$laptop: 1440px
$tablet: 1024px
$smartphone: 768px
$phone: 336px
$grid1440: repeat(12, 1fr)
$grid1042: 40px 1fr 1fr 1fr 1fr 40px
$grid336: 16px 1fr 1fr 1fr 1fr 16px


*
  margin: 0
  padding: 0
  font-family: Helvetica, sans-serif
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

h1
  font-family: 'Montserrat', sans-serif
  font-size: 40px

h2
  font-family: 'Montserrat', sans-serif
  font-size: 24px

p
  font-family: 'Georgia', sans-serif
  font-size: 16px
  line-height: 24px

.work
  position: relative
  left: 0
  transition: 1s

.work:hover
  left: 20px

@media screen and (min-width: $phone) and (max-width: $smartphone)

  .container
    margin: auto
    display: grid
    grid-template-columns: repeat(12, 1fr)
    background-color: white
    width: $phone

  .header
    height: 768px
    grid-column: 1 / 13
    display: grid
    grid-template-columns: repeat(24, 1fr)
    background: linear-gradient(-180deg, #f04360 0%, #001d4f 100%)

  #photo
    position: relative
    top: 80px
    height: 168px
    grid-column: 7 / 19
    background: url("../img/photo_min.jpg")
    border-radius: 200px

  .information
    grid-column: 1 / 25
    position: relative
    top: 0

  .white
    color: white

  .title
    position: relative
    width: 336px
    top: 0
    font-size: 16px
    left: 0
    text-align: center


  .name
    width: 336px
    position: relative
    top: 18px
    font-size: 36px
    left: 0
    text-align: center


  .promo
    position: relative
    top: 50px
    left: 0
    text-align: center
    width: 336px
    padding-right: 12px
    padding-left: 12px



  .expectation
    grid-column: 1 / 13
    display: grid
    grid-template-columns: $grid336

  .black
    color: #001d4f

  .orange
    color: #f04360
    margin-top: 9px


  .w
    position: absolute
    bottom: 0
    padding-bottom: 30px
    padding-right: 30px
    text-shadow: rgba(0, 29, 79, .3) 0 0 5px


  .l
    margin-top: 15px
    opacity: .8


  .exp
    grid-column: 1 / 7
    height: 100px
    width: 100%
    padding-top: 50px
    margin-bottom: 20px
    font-size: 32px
    text-align: center

  .blocks
    grid-column: 2 / 6
    background-color: white
    display: grid
    grid-gap: 0
    grid-template-columns: repeat(20, 1fr)
    grid-template-rows: repeat(1, 240px)

  .one
    grid-column: 1 / 21
    grid-row: 1
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    opacity: 1
    animation-name: FadeBox4
    animation-iteration-count: infinite
    animation-duration: 20s

  .two
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 1 / 21
    grid-row: 1
    opacity: 0
    animation-name: FadeBox3
    animation-iteration-count: infinite
    animation-duration: 20s

  .three
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 1 / 21
    grid-row: 1
    opacity: 0
    animation-name: FadeBox2
    animation-iteration-count: infinite
    animation-duration: 20s

  .four
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 1 / 21
    grid-row: 1
    opacity: 0
    animation-name: FadeBox1
    animation-iteration-count: infinite
    animation-duration: 20s

  .portfolio
    grid-column: 1 / 13
    display: grid
    grid-template-columns: $grid336

  .port
    grid-column: 1 / 7
    height: 100px
    width: 100%
    padding-top: 50px
    margin-bottom: 20px
    font-size: 32px
    text-align: center

  .work
    grid-column: 2 / 6
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: 216px 216px
    grid-gap: 25px
    margin-bottom: 150px

  .previewleft
    grid-column: 1 / 11
    grid-row: 2
    border-radius: 15px
    box-shadow: rgba(0, 29, 79, .3) 0 10px 30px

  .infoleft
    grid-column: 1 / 11
    grid-row: 1
    position: relative

  .previewright
    grid-column: 1 / 11
    grid-row: 2
    border-radius: 15px
    box-shadow: rgba(0, 29, 79, .3) 0 10px 30px

  .inforight
    grid-column: 1 / 11
    grid-row: 1
    position: relative

  #item1
    background: url("../img/prew_1_min.jpg") center
    width: 100%
    height: 216px
    border-radius: 15px

  #item2
    background: url("../img/prew_2_min.jpg") center
    width: 100%
    height: 216px
    border-radius: 15px

  #item3
    background: url("../img/prew_3_min.jpg") center
    width: 100%
    height: 216px
    border-radius: 15px

  #item4
    background: url("../img/prew_4_min.jpg") center
    width: 100%
    height: 216px
    border-radius: 15px

  #item5
    background: url("../img/prew_5_min.jpg") center
    width: 100%
    height: 216px
    border-radius: 15px

  #item6
    background: url("../img/prew_6_min.jpg") center
    width: 100%
    height: 216px
    border-radius: 15px

  #item7
    background: url("../img/prew_7_min.jpg") center
    width: 100%
    height: 216px
    border-radius: 15px

  .footer
    grid-column: 1/13
    display: grid
    grid-template-columns: $grid336
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)

  .contact
    grid-column: 1 / 7
    height: 100px
    width: 100%
    padding-top: 50px
    margin-bottom: 20px
    font-size: 32px
    text-align: center

  .communication
    grid-column: 1/13
    margin-top: 20px
    display: grid
    grid-template-columns: repeat(24, 1fr)

  .links
    grid-column: 2/24
    margin-bottom: 20px
    text-align: center

  .form
    grid-column: 2/24

  .width100
    width: 100%
    margin-bottom: 20px
    font-size: 16px
    box-sizing: border-box

  .input
    padding: 15px
    border-radius: 15px
    line-height: 24px
    border: 5px solid rgba(240, 67, 96, 0.5)
    transition: .7s

  .input:focus
    box-shadow: rgba(0, 29, 79, 0.65) 0 0 7px
    border-radius: 0

  .button
    line-height: 24px
    padding: 9px
    border-radius: 5px
    background: #f04360
    text-align: center
    margin-bottom: 100px
    opacity: .9
    transition: .7s
    cursor: pointer

  .button:hover
    opacity: 1
    background: #cb3751




@media screen and (min-width: $smartphone) and (max-width: $tablet)
  .container
    margin: auto
    display: grid
    grid-template-columns: repeat(12, 1fr)
    background-color: white
    width: $smartphone

  .header
    height: 1024px
    grid-column: 1 / 13
    display: grid
    grid-template-columns: repeat(24, 1fr)
    background: linear-gradient(-180deg, #f04360 0%, #001d4f 100%)

  #photo
    position: relative
    top: 90px
    grid-column: 7 / 19
    background: url("../img/photo_small.jpg") center
    background-size: cover
    border-radius: 200px

  .information
    grid-column: 1 / 25
    position: relative
    top: 0

  .white
    color: white

  .title
    position: relative
    top: 135px
    left: 0
    text-align: center


  .name
    position: relative
    top: 155px
    left: 0
    text-align: center


  .promo
    position: relative
    top: 220px
    left: 0
    text-align: center
    width: 100%
    padding-right: 112px
    padding-left: 112px



  .expectation
    grid-column: 1 / 13
    display: grid
    grid-template-columns: $grid1042

  .black
    color: #001d4f

  .orange
    color: #f04360
    margin-top: 9px

  .w
    position: absolute
    bottom: 0
    padding-bottom: 30px
    padding-right: 30px
    text-shadow: rgba(0, 29, 79, .3) 0 0 5px

  .l
    position: absolute
    bottom: 0
    padding-bottom: 0
    padding-left: 0
    padding-right: 0
    opacity: .8

  .exp
    grid-column: 1 / 7
    height: 100px
    padding: 70px 0 0 40px
    margin-bottom: 50px

  .blocks
    grid-column: 2 / 6
    background-color: white
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(20, 1fr)
    grid-template-rows: repeat(2, 200px)

  .one:hover, .three:hover
    left: -20px

  .two:hover, .four:hover
    left: 20px

  .one
    grid-column: 1 / 12
    grid-row: 1
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    left: 0
    transition: 1s

  .two
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 12 / 21
    grid-row: 1
    left: 0
    transition: 1s

  .three
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 1 / 10
    grid-row: 2
    left: 0
    transition: 1s

  .four
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 10 / 21
    grid-row: 2
    left: 0
    transition: 1s

  .portfolio
    grid-column: 1 / 13
    display: grid
    grid-template-columns: $grid1042

  .port
    grid-column: 1 / 7
    height: 100px
    padding: 70px 0 0 40px
    margin-bottom: 50px

  .work
    grid-column: 2 / 6
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: 146px 496px
    grid-gap: 25px
    margin-bottom: 150px

  .previewleft
    grid-column: 1 / 11
    grid-row: 2
    border-radius: 15px
    box-shadow: rgba(0, 29, 79, .3) 0 10px 30px

  .infoleft
    grid-column: 1 / 11
    grid-row: 1
    position: relative

  .previewright
    grid-column: 1 / 11
    grid-row: 2
    border-radius: 15px
    box-shadow: rgba(0, 29, 79, .3) 0 10px 30px

  .inforight
    grid-column: 1 / 11
    grid-row: 1
    position: relative

  #item1
    background: url("../img/prew_1_big.jpg") center
    width: 100%
    height: 496px
    border-radius: 15px

  #item2
    background: url("../img/prew_2_big.jpg") center
    width: 100%
    height: 496px
    border-radius: 15px

  #item3
    background: url("../img/prew_3_big.jpg") center
    width: 100%
    height: 496px
    border-radius: 15px

  #item4
    background: url("../img/prew_4_big.jpg") center
    width: 100%
    height: 496px
    border-radius: 15px

  #item5
    background: url("../img/prew_5_big.jpg") center
    width: 100%
    height: 496px
    border-radius: 15px

  #item6
    background: url("../img/prew_6_big.jpg") center
    width: 100%
    height: 496px
    border-radius: 15px

  #item7
    background: url("../img/prew_7_big.jpg") center
    width: 100%
    height: 496px
    border-radius: 15px

  .footer
    grid-column: 1/13
    display: grid
    grid-template-columns: $grid1042
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)

  .contact
    grid-column: 1/7
    height: 100px
    padding: 70px 0 0 40px
    margin-bottom: 50px

  .communication
    grid-column: 1/13
    display: grid
    grid-template-columns: repeat(24, 1fr)

  .links
    grid-column: 2/24
    margin-bottom: 20px

  .form
    grid-column: 2/24

  .width100
    width: 100%
    margin-bottom: 20px
    font-size: 16px
    box-sizing: border-box

  .input
    padding: 15px
    border-radius: 15px
    line-height: 24px
    border: 5px solid rgba(240, 67, 96, 0.5)
    transition: .7s

  .input:focus
    box-shadow: rgba(0, 29, 79, 0.65) 0 0 7px
    border-radius: 0

  .button
    line-height: 24px
    padding: 9px
    border-radius: 5px
    background: #f04360
    text-align: center
    margin-bottom: 100px
    opacity: .9
    transition: .7s
    cursor: pointer

  .button:hover
    opacity: 1
    background: #cb3751

@media screen and (min-width: $tablet) and (max-width: $laptop)
  .container
    margin: auto
    display: grid
    grid-template-columns: repeat(12, 1fr)
    background-color: white
    width: $tablet

  .header
    height: 672px
    grid-column: 1 / 13
    display: grid
    grid-template-columns: repeat(24, 1fr)
    background: linear-gradient(-180deg, #f04360 0%, #001d4f 100%)

  #photo
    grid-column: 1 / 10
    position: relative
    top: 0
    background: url("../img/photo_mid.jpg")
    border-radius: 0

  .information
    grid-column: 10 / 25

  .white
    color: white

  .title
    position: relative
    top: 65px
    left: 96px
    width: 444px

  .name
    position: relative
    top: 85px
    left: 96px
    width: 444px

  .promo
    position: relative
    top: 356px
    left: 96px
    width: 544px
    padding-left: 0
    padding-right: 96px
    text-align: left

  .expectation
    grid-column: 1 / 13
    display: grid
    grid-template-columns: $grid1042

  .black
    color: #001d4f

  .orange
    color: #f04360
    margin-top: 9px

  .w
    position: absolute
    bottom: 0
    padding-bottom: 30px
    padding-right: 30px
    text-shadow: rgba(0, 29, 79, .3) 0 0 5px

  .l
    position: absolute
    bottom: 0
    padding-bottom: 0
    padding-left: 0
    padding-right: 0
    opacity: .8

  .exp
    grid-column: 1 / 7
    height: 100px
    padding: 70px 0 0 40px
    margin-bottom: 50px

  .blocks
    grid-column: 2 / 6
    background-color: white
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(20, 1fr)
    grid-template-rows: repeat(2, 200px)

  .one:hover, .three:hover
    left: -20px

  .two:hover, .four:hover
    left: 20px

  .one
    grid-column: 1 / 13
    grid-row: 1
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    left: 0
    transition: 1s

  .two
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 13 / 21
    grid-row: 1
    left: 0
    transition: 1s

  .three
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 1 / 9
    grid-row: 2
    left: 0
    transition: 1s

  .four
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 9 / 21
    grid-row: 2
    left: 0
    transition: 1s

  .portfolio
    grid-column: 1 / 13
    display: grid
    grid-template-columns: $grid1042

  .port
    grid-column: 1 / 7
    height: 100px
    padding: 70px 0 0 40px
    margin-bottom: 50px

  .work
    grid-column: 2 / 6
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(1, 384px)
    grid-gap: 25px
    margin-bottom: 150px

  .previewleft
    grid-column: 1 / 7
    grid-row: 1
    border-radius: 15px
    box-shadow: rgba(0, 29, 79, .3) 0 10px 30px

  .infoleft
    grid-column: 7 / 11
    grid-row: 1
    position: relative

  .previewright
    grid-column: 5 / 11
    grid-row: 1
    border-radius: 15px
    box-shadow: rgba(0, 29, 79, .3) 0 10px 30px

  .inforight
    grid-column: 1 / 5
    grid-row: 1
    position: relative

  #item1
    background: url("../img/prew_1.jpg") center
    width: 100%
    height: 384px
    border-radius: 15px

  #item2
    background: url("../img/prew_2.jpg") center
    width: 100%
    height: 384px
    border-radius: 15px

  #item3
    background: url("../img/prew_3.jpg") center
    width: 100%
    height: 384px
    border-radius: 15px

  #item4
    background: url("../img/prew_4.jpg") center
    width: 100%
    height: 384px
    border-radius: 15px

  #item5
    background: url("../img/prew_5.jpg") center
    width: 100%
    height: 384px
    border-radius: 15px

  #item6
    background: url("../img/prew_6.jpg") center
    width: 100%
    height: 384px
    border-radius: 15px

  #item7
    background: url("../img/prew_7.jpg") center
    width: 100%
    height: 384px
    border-radius: 15px

  .footer
    grid-column: 1/13
    display: grid
    grid-template-columns: $grid1042
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)

  .contact
    grid-column: 1/7
    height: 100px
    padding: 70px 0 0 40px
    margin-bottom: 50px

  .communication
    grid-column: 2/6
    display: grid
    grid-template-columns: repeat(24, 1fr)

  .links
    grid-column: 1/8

  .form
    grid-column: 11/25

  .width100
    width: 100%
    margin-bottom: 20px
    font-size: 16px
    box-sizing: border-box

  .input
    padding: 15px
    border-radius: 15px
    line-height: 24px
    border: 5px solid rgba(240, 67, 96, 0.5)
    transition: .7s

  .input:focus
    box-shadow: rgba(0, 29, 79, 0.65) 0 0 7px
    border-radius: 0

  .button
    line-height: 24px
    padding: 9px
    border-radius: 5px
    background: #f04360
    text-align: center
    margin-bottom: 100px
    opacity: .9
    transition: .7s
    cursor: pointer

  .button:hover
    opacity: 1
    background: #cb3751

@media screen and (min-width: $laptop)
  .container
    margin: auto
    display: grid
    grid-template-columns: repeat(12, 1fr)
    background-color: white
    width: $laptop

  .header
    height: 672px
    grid-column: 1 / 13
    display: grid
    grid-template-columns: repeat(24, 1fr)
    background: linear-gradient(-180deg, #f04360 0%, #001d4f 100%)

  #photo
    grid-column: 1 / 10
    background: url("../img/photo_big.jpg")

  .information
    grid-column: 10 / 25

  .white
    color: white

  .title
    position: relative
    top: 65px
    left: 96px
    width: 704px

  .name
    position: relative
    top: 85px
    left: 96px
    width: 704px

  .promo
    position: relative
    top: 356px
    left: 96px
    width: 544px

  .expectation
    grid-column: 1 / 13
    display: grid
    grid-template-columns: repeat(6, 1fr)

  .black
    color: #001d4f

  .orange
    color: #f04360
    margin-top: 9px

  .w
    position: absolute
    bottom: 0
    padding-bottom: 30px
    padding-right: 30px
    text-shadow: rgba(0, 29, 79, .3) 0 0 5px

  .l
    position: absolute
    bottom: 0
    padding-bottom: 0
    padding-left: 0
    padding-right: 0
    opacity: .8

  .exp
    grid-column: 1 / 7
    height: 100px
    padding: 70px 0 0 240px
    margin-bottom: 50px

  .blocks
    grid-column: 2 / 6
    background-color: white
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(20, 1fr)
    grid-template-rows: repeat(2, 200px)

  .one:hover, .three:hover
    left: -20px

  .two:hover, .four:hover
    left: 20px

  .one
    grid-column: 1 / 13
    grid-row: 1
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    left: 0
    transition: 1s

  .two
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 13 / 21
    grid-row: 1
    left: 0
    transition: 1s

  .three
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 1 / 9
    grid-row: 2
    left: 0
    transition: 1s

  .four
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)
    border-radius: 5px
    padding: 30px
    position: relative
    grid-column: 9 / 21
    grid-row: 2
    left: 0
    transition: 1s

  .portfolio
    grid-column: 1 / 13
    display: grid
    grid-template-columns: repeat(6, 1fr)

  .port
    grid-column: 1 / 7
    height: 100px
    padding: 70px 0 0 240px
    margin-bottom: 50px

  .work
    grid-column: 2 / 6
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(1, 384px)
    grid-gap: 25px
    margin-bottom: 150px

  .previewleft
    grid-column: 1 / 7
    border-radius: 15px
    box-shadow: rgba(0, 29, 79, .3) 0 10px 30px

  .infoleft
    grid-column: 7 / 11
    position: relative

  .previewright
    grid-column: 5 / 11
    border-radius: 15px
    box-shadow: rgba(0, 29, 79, .3) 0 10px 30px

  .inforight
    grid-column: 1 / 5
    position: relative

  #item1
    background-image: url("../img/prew_1.jpg")
    width: 100%
    height: 384px
    border-radius: 15px

  #item2
    background-image: url("../img/prew_2.jpg")
    width: 100%
    height: 384px
    border-radius: 15px

  #item3
    background-image: url("../img/prew_3.jpg")
    width: 100%
    height: 384px
    border-radius: 15px

  #item4
    background-image: url("../img/prew_4.jpg")
    width: 100%
    height: 384px
    border-radius: 15px

  #item5
    background-image: url("../img/prew_5.jpg")
    width: 100%
    height: 384px
    border-radius: 15px

  #item6
    background-image: url("../img/prew_6.jpg")
    width: 100%
    height: 384px
    border-radius: 15px

  #item7
    background-image: url("../img/prew_7.jpg")
    width: 100%
    height: 384px
    border-radius: 15px

  .footer
    grid-column: 1/13
    display: grid
    grid-template-columns: repeat(6, 1fr)
    background: linear-gradient(0deg, #f9e8cb 0%, #f04360 100%)

  .contact
    grid-column: 1/7
    height: 100px
    padding: 70px 0 0 240px
    margin-bottom: 50px

  .communication
    grid-column: 2/6
    display: grid
    grid-template-columns: repeat(24, 1fr)

  .links
    grid-column: 1/8

  .form
    grid-column: 11/25

  .width100
    width: 100%
    margin-bottom: 20px
    font-size: 16px
    box-sizing: border-box
    color: #001d4f

  .input
    padding: 15px
    border-radius: 15px
    line-height: 24px
    border: 5px solid rgba(240, 67, 96, 0.5)
    transition: .7s

  .input:focus
    box-shadow: rgba(0, 29, 79, 0.65) 0 0 7px
    border-radius: 0

  .button
    line-height: 24px
    padding: 9px
    border-radius: 5px
    background: #f04360
    text-align: center
    margin-bottom: 100px
    opacity: .9
    transition: .7s
    cursor: pointer

  .button:hover
    opacity: 1
    background: #cb3751
